<html>
<head>
<title>{% block title %}{{ title }}{% endblock %}</title>
<link rel='stylesheet' href='{{ url_for("static", filename="style.css") }}' />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src='{{ url_for("static", filename="script.js") }}'></script>
{% block additional_scripts %}{% endblock %}
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
</head>
<body>
<div class="col-lg-6 col-md-7 col-sm-8 col-cs-7 container" style="float:none;">

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Menu</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('questions.vote') }}">Current vote</a></li>
          {% if logged_in %}
            <li><a href="{{ url_for('questions.show_all') }}">All questions</a></li>
            <li><a href="{{ url_for('admin.edit', qid=None) }}">New question</a></li>
            <li><a href="{{ url_for('admin.add_user') }}">New user</a></li>
          {% else %}
            <li><a href="{{ url_for('questions.show_all') }}">Past questions</a></li>
          {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
          {% if logged_in %}
            <li><a href="{{ url_for('admin.logout') }}">Admin Logout</a></li>
          {% else %}
            <li><a href="{{ url_for('admin.login') }}">Admin Login</a></li>
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% if form and form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>
{% block footer %}
<div class="footer">
&copy; 2014
</div>
<!-- Ignore this: {{ DB_link }} -->
{% endblock %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>