{% extends "questions/main.html" %}
{% block content %}
    <div class="header"></div>
    <div class="question_block">
    <div class="question">{{ question["title"] }}</div>
    <form id="form" action="submit/" method="post" name="asd">
    {% for option in question["options"] %}
        <div class="option">
        <a href="#" class="btn btn-primary btn-large btn-block {% if loop.index0 == question.last_vote_val %} active {% endif %}" onclick="submit({{ loop.index0 }})">{{ option }}</a>
        </div>
    {% endfor %}
    <div class="q_expiration">{{ question["finishes"] }}</div>
    <input id="voting" type="hidden" name="vote" value="-1" />
    <input type="hidden" name="question_id" value="{{ question["id"] }}" />
    </form>
    </div>
{% endblock %}