div {
    margin:0px;
    padding:0px;
    border-spacing:0px;
}
ul {
    list-style-type: none;
}

.container {
    float:none;
    text-align:center;
    margin-bottom:20px;
    border-radius:7px;
    margin-left:auto;
    margin-right:auto;
    padding:0px;
    margin-top:10px;
}
.question {
    background-color:#dddddd;
    padding:10px;
    font-family:Georgia;
    border:1px solid #000000;
}
.option{
    padding:8px;
}
.footer {
    clear:both;
    text-align:center;
    color:#333;
}
.flashes {
    padding:8px;
    border-radius:5px;
    background-color:#BBBBEE;
    border:1px solid #3333EE;
}
.errors {
    padding:5px;
    border-radius:3px;
    background-color:#EEAAAA;
    border:1px solid #EE3333;
    margin-top:10px;
    margin-bottom:6px;
    margin-left:auto;
    margin-right:auto;
}
dt label {
    padding:3px;
}
.login_box{
    padding:15px 30px;
    border:1px solid #555;
    border-radius:3px;
    margin-top:2px;
    margin-bottom:2px;
    margin-left:auto;
    margin-right:auto;
    max-width:400px;
}
.results_header {
    background-color:#dddddd;
    padding:10px;
    font-family:Georgia;
    margin-top:10px;
    border:1px solid #000000;
}
.res_q_name, a.res_q_name:active, a.res_q_name:visited {
    padding:7px;
    display:block;
    color:#000;
    float:left;
    width:90%;
}
.res_q_edit, a.res_q_edit:active, a.res_q_edit:visited {
    padding:7px;
    display:block;
    color:#000;
    float:left;
    width:10%;
}
.res_answer{
    padding:7px;
    background-color:#FFEEEE;
    border:1px solid #000;
    border-top:none;
    background-color:none;
}
.res_correct{
    background-color:#DDFFDD;
}
.res_q_name:hover {
    text-decoration:underline;
    color:#000;
}
.res_block:nth-child(2n-1){
    background-color:#99FF99;
}
.res_block:nth-child(2n){
    background-color:#BBFFBB;
}
.res_q_edit:hover {
    text-decoration:underline;
    color:#000;
}
.nav {
    padding:6px;
    text-align:left;
}
.nav a {
    padding-right:15px;
}