{% extends "questions/main.html" %}
{% from "admin/formhelpers.html" import render_field %}


{% block content %}
<form method="post" action="/add_user/" class="form-horizontal">
    {% set left='class="col-xs-3 control-label"' %}
    {% set right='class="col-xs-5"' %}
    {{ render_field(form.username, left, right) }}
    {{ render_field(form.password, left, right) }}
    {{ render_field(form.confirm, left, right) }}
    {{ render_field(form.email, left, right) }}
  <div class="form-group" style="text-align: left">
      <div class="col-xs-offset-3 col-xs-5">
        <input type="submit" value="Register" class="btn btn-primary">
      </div>
  </div>
</form>
{% endblock %}